<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>items</key>
			<array>
				<string>resetItem</string>
				<string>CatSparks</string>
				<string>fu_zh_fenshu</string>
				<string>sdlr</string>
				<string>xlong_zh_fu</string>
				<string>newy1</string>
				<string>redribbt</string>
				<string>DaisyPig</string>
				<string>sdlu</string>
			</array>
			<key>itemName</key>
			<string>道具贴纸</string>
			<key>maxFace</key>
			<integer>4</integer>
			<key>enble</key>
			<false/>
			<key>itemType</key>
			<integer>1</integer>
			<key>conpareCode</key>
			<integer>0</integer>
			<key>modules</key>
			<array>
				<integer>110</integer>
			</array>
		</dict>
		<dict>
			<key>itemName</key>
			<string>美发</string>
			<key>maxFace</key>
			<integer>4</integer>
			<key>enble</key>
			<false/>
			<key>itemType</key>
			<integer>4</integer>
			<key>conpareCode</key>
			<integer>0</integer>
			<key>modules</key>
			<array>
				<integer>1048576</integer>
			</array>
			<key>items</key>
			<array>
				<string>resetItem</string>
				<string>icon_gradualchangehair_01</string>
				<string>icon_gradualchangehair_02</string>
				<string>icon_gradualchangehair_03</string>
				<string>icon_gradualchangehair_04</string>
				<string>icon_gradualchangehair_05</string>
				<string>hair_color_1</string>
				<string>hair_color_2</string>
				<string>hair_color_3</string>
				<string>hair_color_4</string>
				<string>hair_color_5</string>
				<string>hair_color_6</string>
				<string>hair_color_7</string>
				<string>hair_color_8</string>
			</array>
		</dict>
		<dict>
			<key>itemName</key>
			<string>轻美妆</string>
			<key>maxFace</key>
			<integer>4</integer>
			<key>enble</key>
			<false/>
			<key>itemType</key>
			<integer>6</integer>
			<key>conpareCode</key>
			<integer>1</integer>
			<key>modules</key>
			<array>
				<integer>8</integer>
			</array>
			<key>items</key>
			<array>
				<string>demo_makeup_peachblossom</string>
			</array>
		</dict>
		<dict>
			<key>itemName</key>
			<string>AR面具</string>
			<key>maxFace</key>
			<integer>4</integer>
			<key>enble</key>
			<false/>
			<key>itemType</key>
			<integer>5</integer>
			<key>conpareCode</key>
			<integer>0</integer>
			<key>modules</key>
			<array>
				<integer>96</integer>
			</array>
			<key>items</key>
			<array>
				<string>resetItem</string>
				<string>bluebird</string>
				<string>lanhudie</string>
				<string>fenhudie</string>
				<string>tiger_huang</string>
				<string>tiger_bai</string>
				<string>baozi</string>
				<string>tiger</string>
				<string>xiongmao</string>
			</array>
		</dict>
	</array>
</array>
</plist>
