<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.nertc.audioeffect">

    <application>
        <activity
            android:name=".AudioEffectActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>