<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.nertc.externalbeauty">

    <application>
        <activity
            android:name=".SenseTimeBeautyActivity"
            android:exported="false" />
        <activity
            android:name=".ByteDanceBeautyActivity"
            android:exported="false" />
        <activity
            android:name=".FaceUnityBeautyActivity"
            android:exported="false" />
        <activity
            android:name=".ExternalBeautyActivity"
            android:exported="false" />
    </application>

</manifest>