<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.nertc.audiocall">

    <application>
        <activity
            android:name=".AudioCallActivity">
        </activity>
        <activity
            android:name=".AudioCallEntryActivity">
        </activity>
    </application>


</manifest>