<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.nertc.videostream">

    <application>
        <activity
            android:name=".SetPushUrlActivity"
            android:theme="@style/MyToolsAddAvatar"
            android:exported="false" />
        <activity
            android:name=".VideoStreamActivity"
            android:exported="false" />
    </application>

</manifest>