<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.nertc.mediaencryption">

    <application>
        <activity
            android:name=".MediaEncryption"
            android:exported="false" />
    </application>

</manifest>