<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.nertc.externalvideocapture">

    <application>
        <activity
            android:theme="@style/MyToolsAddAvatar"
            android:name=".SetVideoConfigActivity"
            android:exported="false" />
        <activity
            android:name=".ExternalVideoCaptureActivity"
            android:exported="false" />
    </application>

</manifest>